/* საწყისები */
body, h1, h2, h3, ul, li, form, fieldset, label, input, button
{
  margin: 0;
  padding: 0;
}
/* საერთო */
.login-box
{
  display: none;
}
.d-header,
.d-header .wrapper,
.main-nav,
.login-box:is(.active)
{
  display: flex;
}
.d-header
{
  justify-content: center;
}
.d-header
{
  align-items: center;
}
.login
{
  margin-left: auto;
}
.main-nav
{
  list-style-type: none;
}
.main-nav a,
.d-header .login
{
  text-decoration: none;
}
.d-header .wrapper
{
  width: 70%;
}
/* კერძო */
.d-header
{
  padding: 30px 0;
}
.main-nav li
{
  margin: 0 10px;
}
.main-nav li:first-child
{
  margin-left: 0;
}
.login
{
  background-color: rgb(2,2,58);
  border-radius: 3px;
  color: #B6CA0B;
  padding: 7px 20px;
}
.login:hover
{
  background-color: rgb(2,2,58);
}
.login-box .row
{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.login-box
{
  background-color:#1ACA0B;
  justify-content: center;
  align-items: center;
  left: 0;
  height: 100%;
  top: 0;
  position: absolute;
  width: 100vw;
}
.login-box fieldset
{
  padding: 40px;
  position: relative;
  width: 50%;
}
.login-box label
{
  margin-bottom: 5px;
}
.login-box input
{
  padding: 7px;
}
.login-box .login-btn
{
  padding: 7px 20px;
}
.login-box .close-btn
{
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 32px;
}